---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Page Not Found">
  <div>
    <!-- <h1 class="select-none text-9xl opacity-30 lg:text-[15rem] font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">404</h1>
    <p class="select-none text-xl lg:text-6xl font-bold absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">Page Not Found</p> -->
    <h1>404</h1>
    <p>Page Not Found</p>
  </div>
</Layout>