---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Page Not Found">
  <div class="flex justify-center h-screen items-center flex-col">
    <h1 class="select-none text-9xl opacity-50 lg:text-[15rem] font-bold text-black dark:text-white">404</h1>
    <p class="select-none text-xl opacity-50 lg:text-6xl font-bold text-black dark:text-white">Page Not Found</p>
  </div>
</Layout>