---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
 
const { blok } = Astro.props
---
 
  <!-- <div
    {...storyblokEditable(blok)}
  > -->
  <ul class="link-card-grid">
    {
      blok.columns?.map((blok: any) => {
        return <StoryblokComponent blok={blok} />
      })
    }
  </ul>
  <!-- </div> -->
  <style>
    main {
      margin: auto;
      padding: 1.5rem;
      max-width: 80ch;
    }
    h1 {
      font-size: 2rem !important;
      font-weight: 800 !important;
      margin: 0 !important;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
      font-family: "Velodroma", sans-serif;
    }
    .instructions {
      line-height: 1.6;
      margin: 1rem 0;
      border: 1px solid rgba(var(--accent), 25%);
      /* background-color: #444542; */
      padding: 1rem;
      border-radius: 0.4rem;
    }
    .instructions code {
      font-size: 0.875em;
      font-weight: bold;
      background: rgba(var(--accent), 12%);
      color: rgb(var(--accent));
      border-radius: 4px;
      padding: 0.3em 0.45em;
    }
    .instructions strong {
      color: rgb(var(--accent));
      font-family: 'Velodroma', sans-serif;
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(16rem, 0.5fr));
      gap: 1rem;
      padding: 0;
      justify-content: center;
    }
  </style>