---
import { storyblokEditable, renderRichText } from '@storyblok/astro'
 
const { blok } = Astro.props
const content = renderRichText(blok.rich_text)
---
   
<div {...storyblokEditable(blok)}>
  <div class="project-content" set:html={content} />
</div>