---
import { storyblokEditable } from '@storyblok/astro'
 
const { blok } = Astro.props
---
  
 <div {...storyblokEditable(blok)}>
   <h1 class="my-3 text-3xl text-center font-semibold text-gray-700 dark:text-gray-200">
    {blok.headline}
  </h1>
 </div>