---
import { storyblokEditable } from '@storyblok/astro'
 
 const { blok } = Astro.props
---
  
 <div {...storyblokEditable(blok)}>
   <h3 class='pb-10 text-6xl font-bold text-center'>
     {blok.headline}
   </h3>
 </div>