---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact">
	<main>
    <div class="text-center">
      <h1 class="my-3 text-3xl font-semibold text-black dark:text-white">
        Contact Me
      </h1>
      <p class="text-stone-500 dark:text-stone-300">
        Fill up the form below to send me a message.
      </p>
    </div>
    <div class="my-7 md:m-7">
      <form action="https://api.web3forms.com/submit" method="POST" id="form">
        <input type="hidden" name="access_key" value={import.meta.env.FORMS_KEY} />
        <input type="hidden" name="subject" value="New Submission from nickgolitsyn.com" />
        <input type="hidden" name="redirect" value="nickgolitsyn.com/contact" />
        <input type="checkbox" name="botcheck" id="" style={{display: "none"}} />
        <div class="mb-6">
          <label for="name" class="block mb-2 text-sm text-stone-500 dark:text-stone-300">Full Name</label>
          <input type="text" name="name" id="name" placeholder="Full Name" required class="w-full bg-opacity-50 dark:bg-opacity-50 px-3 py-2 placeholder-stone-400 border border-stone-300 rounded-md focus:outline-none focus:ring focus:ring-stone-200 focus:border-stone-300 dark:bg-stone-800 dark:text-white dark:placeholder-stone-300 dark:border-stone-400 dark:focus:ring-stone-300 dark:focus:border-stone-300" />
        </div>
        <div class="mb-6">
          <label for="email" class="block mb-2 text-sm text-stone-500 dark:text-stone-300">Email Address</label>
          <input type="email" name="email" id="email" placeholder="Email Address" required class="w-full bg-opacity-50 dark:bg-opacity-50 px-3 py-2 placeholder-stone-400 border border-stone-300 rounded-md focus:outline-none focus:ring focus:ring-stone-200 focus:border-stone-300 dark:bg-stone-800 dark:text-white dark:placeholder-stone-300 dark:border-stone-400 dark:focus:ring-stone-300 dark:focus:border-stone-300" />
        </div>
        <div class="mb-6">
          <label for="phone" class="text-sm text-stone-500 dark:text-stone-300">Phone Number</label>
          <input type="text" name="phone" id="phone" placeholder="Phone Number" required class="w-full bg-opacity-50 dark:bg-opacity-50 px-3 py-2 placeholder-stone-400 border border-stone-300 rounded-md focus:outline-none focus:ring focus:ring-stone-200 focus:border-stone-300 dark:bg-stone-800 dark:text-white dark:placeholder-stone-300 dark:border-stone-400 dark:focus:ring-stone-300 dark:focus:border-stone-300" />
        </div>
        <div class="mb-6">
          <label for="message" class="block mb-2 text-sm text-stone-500 dark:text-stone-300">Your Message</label>
          <textarea rows="5" name="message" id="message" placeholder="Your Message" class="w-full bg-opacity-50 dark:bg-opacity-50 px-3 py-2 placeholder-stone-400 border border-stone-300 rounded-md focus:outline-none focus:ring focus:ring-stone-200 focus:border-stone-300 dark:bg-stone-800 dark:text-white dark:placeholder-stone-300 dark:border-stone-400 dark:focus:ring-stone-300 dark:focus:border-stone-300" required></textarea>
        </div>
        <div class="mb-6">
          <button type="submit" class="w-full px-3 py-4 text-white dark:text-black bg-stone-800 dark:bg-stone-200 rounded-md focus:bg-indigo-600 focus:outline-none">
            Send Message
          </button>
        </div>
        <p class="text-base text-center text-gray-400" id="result"></p>
      </form>
    </div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 80ch;
	}
	h1 {
		font-size: 2rem !important;
		font-weight: 800 !important;
		margin: 0 !important;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		font-family: "Velodroma", sans-serif;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		/* background-color: #444542; */
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
		font-family: 'Velodroma', sans-serif;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>