---
import Nav from '../components/Nav'
import Footer from '../components/Footer.astro';
import glow from '/glow3.svg'
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script is:inline>
			const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
			const storedTheme = localStorage.getItem('theme');
			const theme = storedTheme ?? (prefersDarkMode ? 'dark' : 'light');
			document.querySelector('html').className = theme;
		</script>
	</head>
	<body class="bg-white dark:bg-[#292524]">
		<Nav client:load />
		<img src={glow} alt="glow" class="-z-10 background-glow right-1/2 top-0 absolute dark:mix-blend-hard-light" />
		<div class="mb-24"></div>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 133, 147, 233;
		--accent-hex: #8593e9;
		/* --accent: 183, 248, 219; */
		--accent-gradient: linear-gradient(45deg, var(--accent-hex), #f6a16d 20%, #ffd23d 40%, white 60%);;
		/* --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #50A7C2 30%, white 60%); */
	}
	@font-face {
		font-family: 'Velodroma';
		src: url('/fonts/VelodromaWide.otf') format('opentype');
	}
	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		overflow-x: hidden;
	}
	path {
		fill: #000;
	}
	.dark path {
		fill: #fff;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	.background-glow {
		transform: translate(50%, 0%);
		filter: blur(20px);
	}

	img {
		user-select: none;
		-webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
		pointer-events: none;
	}
	@media (orientation: portrait) {
		.background-glow {
			transform: rotate(90deg) translate(0%, -50%);
			top: 9rem !important;
			height: 100vw;
		}
	}
	.project-content * {
		color: #000;
		margin: 1rem 0;
	}
	.dark .project-content * {
		color: #fff;
	}
	.project-content img {
		margin: 2rem 0;
		border-radius: 0.5rem;
	}
</style>
